<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="logentries.token" source="logentries.token"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{yyyy-MM-dd'T'HH:mm:ss.SSS,UTC} %-5level [%thread] %logger{5} [%X{correlationId}] user=%X{user} %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
